.bf-public-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--bg-primary);
}

.bf-public-main {
  flex: 1;
  padding-top: 4.75rem; /* navbar height */
}
